<div class="row marginZero">
    <div class="row marginZero">
        <div class="col-sm-4">
            <div class="form-group">
                <h4>User : Vikram</h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <h4>Joined On : 22/02/2022</h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <h4>Purchased On : 12/03/2022</h4>
            </div>
        </div>
    </div>
    <div class="row marginZero">
        <div class="col-sm-4">
            <div class="form-group">
                <h4>Date Of Request : 14/03/2022</h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <h4>Requested Amount : Rs.200</h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <h4>Mode : UPI</h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <h4>Amout Available : Rs.1250</h4>
            </div>
        </div>
    </div>
    <br>
    <div class="row marginZero">
        <div style="margin-left: 10px;margin-right: 10px;">
            <div class="table-responsive" style="overflow-y: scroll;height:50vh;">
                <table #scrollMe class="table">
                    <thead style="position: sticky;top: 0;z-index: 1;">
                    <tr>
                        <th>Date</th>
                        <th>Transaction</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>NFT</th>
                        <th>Bonus</th>
                        <th>paid</th>
                        <th>Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>09/8/22</td>
                        <td>Purchase</td>
                        <td>Mathan</td>
                        <td>8220120296</td>
                        <td>#133</td>
                        <td>200</td>
                        <td>-</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>12/07/22</td>
                        <td>Purchase</td>
                        <td>Nikesh</td>
                        <td>8934256893</td>
                        <td>#123</td>
                        <td>200</td>
                        <td>-</td>
                        <td>300</td>
                    </tr>
                    <tr>
                        <td>03/07/22</td>
                        <td>Purchase</td>
                        <td>Sanath</td>
                        <td>9234254855</td>
                        <td>#138</td>
                        <td>200</td>
                        <td>-</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>10/05/22</td>
                        <td>Secondary Sale</td>
                        <td>Shrinath</td>
                        <td>9394124323</td>
                        <td>#183</td>
                        <td>200</td>
                        <td>-</td>
                        <td>1400</td>
                    </tr>
                    <tr>
                        <td>22/04/22</td>
                        <td>Payout</td>
                        <td>#232452</td>
                        <td>#453443</td>
                        <td>-</td>
                        <td>-</td>
                        <td>600</td>
                        <td>800</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <div class="row marginZero">
        <div class="rightSide">
            <button class="btn btn-ether approveBtn">Approve</button>
        </div>
        <div class="form-group rightSide col-sm-2">
            <select class="form-control">
                <option>select</option>
                <option>Admin</option>
            </select>
        </div>
        <div class="rightSide">
            <h5>Checked By</h5>
        </div>
    </div>
    <br>
</div>