<div class="row marginZero">
  <div>
    <p class="leftPos"></p>
    <span (click)="close()" class="material-icons icon rightPos" matTooltipPosition="above" mat-raised-button matTooltip="Close">close</span>
  </div>
  <div>
    <p class="leftPos" style="font-size: 20px;">Getting Started</p>
  </div>
  <div>
    <p style="font-weight: 500">Welcome to EtherArt!</p>
    <ul>
      <li><p>EtherArt is a collection of unique digital collectibles (NFT) representing victories of India such as 200+ crores (2+ billion) vaccinations administered by July 2022, 9+ crore clean cooking gain connections made available to rural households and 45+ crores (450+ million) bank accounts set up for people who never had a bank account before.</p></li>
      <li><p>These victories have been encapsulated in a unique digital collectible (NFT: non-fungible token) stored on blockchain.  You are the only owner of the specific digital collectable (NFT) that you purchased.</p></li>
    </ul>
    <p style="font-weight: 500">STEP 1: <br>Register with our website at etherart.ai with your mobile number.</p>
    <p style="font-weight: 500">STEP 2: <br>Explore our NFTs under “Sale by EtherArt”. You can buy any one of these NFTs just as you do in any other eCommerce site. Once you purchase, the NFT will be minted on blockchain for ownership and authenticity.</p>
    <p style="font-weight: 500">STEP 3: <br>Refer your friends to earn Tribe Rewards!</p>
    <p>EtherArt is offering unique NFTs priced at Rs. 750 for residents of India. However, you can buy your first NFT for as low as Rs. 550 by referring your friends. </p>
    <p>We are offering 50 Tribe Rewards equivalent to Rs. 50 for each friend that you refer who joins EtherArt.Ai.  </p>
    <p>You can then use 200 Tribe Rewards towards buying your first NFT. You pay only Rs. 550 instead of Rs. 750.</p>
    <p>You can also buy your first NFT offered by EtherArt without any Tribe Rewards. </p>
    <p>All purchases and sales are using either INR or USD.</p>
    <p>You can download the NFT you purchased for your screen savers on your mobile phone and laptops.</p>
    <p>If you wish to download the image of your unique NFT for a photo frame, contact us at <a href="mailto:info@etherart.ai" target="_blank">info@etherart.ai</a> .</p>
  </div>
</div>
