<div class="row marginZero">
  <div *ngIf="!isMob" class="col-sm-2"></div>
  <div class="col-sm-3">
    <h4>Build Your Own Momento</h4><br>
    <div class="card">
      <div class="imagecontainer">
        <img alt="EtherArt" src="assets/modi.png" style="height:300px;width:100%">
      </div>
    </div>
  </div>
  <div class="col-sm-5"><br><br>
    <mat-tab-group>
      <mat-tab label="Ganesha">
        <div class="row collection">
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Ganesha Headgear">
        <div class="row collection">
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Ganesha Dhoti">
        <div class="row collection">
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Scooter">
        <div class="row collection">
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Modi Headgear">
        <div class="row collection">
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Modi Jacket">
        <div class="row collection">
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
              <div class="imagecontainer">
                <img alt="EtherArt" src="assets/modi.png" style="height:100px;width:100px">
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div *ngIf="!isMob" class="col-sm-2"></div> 
</div>
