<div [class]="mode">
  <h3 style="font-size: 40px;font-weight: 500 ;">FAQs</h3><br>
  <h3><span>1) What is an NFT?</span></h3>
  <p><span
  >NFTs mean non-fungible tokens on blockchain with unique
identification codes which mean each NFT (digital collectable) offered by EtherArt
is unique.</span></p><br>

  <h3><span
  >2) Do I need to purchase a cryptocurrency to buy EtherArt
NFTs?</span></h3>

  <p><span>No. All purchases and sale are using either INR and USD.</span></p>

  <p><span
  >&nbsp;</span></p>

  <h3><span>3) How do I buy an NFT ?</span></h3>
  <p>You can buy an NFT by paying in INR or equivalent USD. All the prices shown on the card is in INR. You can pay through your Credit Card, Net Banking, UPI, Debit Card.</p>
  <p><span>&nbsp;</span></p>

  <h3>4) How do I sell an NFT ?</h3>
  <p>By default, all the NFTs owned by you will be NOT FOR SALE. If you want to sell it, to <a href="https://www.etherart.ai/myaccount" target="_blank">http://www.etherart.ai/myaccount </a>, click on “Collectables”, click on “Ask” to set your price for the other users to purchase. Other users can see your Item listed for Sale and can buy your NFT.</p>
  <p><span>&nbsp;</span></p>

  <!-- <h3>5) What is for Sale Vs for Bid?</h3>
  <p>By default, when you purchase an NFT, you are the legitimate exclusive owner of that unique NFT. Although you have not put your NFT on SALE, other users can see but can only show their willingness to buy your NFT at 'BID Price'. You may receive multiple bids from users. You have a choice of putting the item on SALE any time.</p>
  <p><span>&nbsp;</span></p>

  <h3>6) How does bidding work?</h3>
  <p>By default, your NFTs are visible to external users when they explore the “Collections” and any user can bid on your NFT. The bid amount by default is Rs.50 more than your purchase price. As the users bid, you will get a SMS indicating others are bidding. At any point of time, you can decide if you want to place your NFT on Sale.</p>

  <p><span
  >&nbsp;</span></p> -->

  <h3>5) How do I redeem my profit earned from trading NFTs?</h3>
  <p>Customer Payout is amount of Profit you make selling your NFT in secondary market.  Profit is equal to sale price of NFT you own minus purchase price you paid to buy the NFT minus any applicable taxes and commission. By using the Site or the Marketplace Offerings, you agree that to the following:</p>
  <p><span
  >A)<span>&nbsp;&nbsp;
  </span>
    If you are a customer living in India with +91 mobile number, you are eligible to request a Customer Payout as long as your EtherArt account balance is more than Rs.100.
  </span></p>
  <p><span
  >B)<span>&nbsp;&nbsp;
  </span> For other customers outside of India who have paid in United States Dollar, you are eligible for you request for a Customer Payout if your account balance is more than US $100.</span></p>
  <p><span
  >C)<span>&nbsp;&nbsp;
  </span>Your Customer Payout will be processed in 10 business days.</span></p>

  <p><span
  >&nbsp;</span></p>

  <h3><span
  >6) How does Tribe Rewards program work?</span></h3>

  <p><span
  >On
this joyous occasion of the 75th anniversary of India’s independence, we need your
help in sharing India’s victories with the world.  Each friend you refer and
joins EtherArt becomes your Tribe member, and you earn to 50 Tribe Rewards.  There
is no limit on earning Tribe Rewards!</span></p>

  <p><span
  >You
can use up to 200 Tribe Rewards towards purchase of an NFT. There is no limit
on number of NFTs you <span >can purchase.
</span></span></p>

  <p><span>you
are bound by Terms of Tribe Rewards described in </span><a
    href="https://www.etherart.ai/tandc" target="_blank"><span>https://www.etherart.ai/tandc</span></a><span
  > Terms of use.</span></p>

  <p><span
  >&nbsp;</span></p>

  <h3><span
  >7) Can I use my Tribe Rewards to buy anything else?</span></h3>
  <p>No. Currently Tribe Rewards can be used only for buying NFTs.</p>

  <p><span
  >&nbsp;</span></p>

  <h3>
    8) Can I gift NFTs to my family and friends?
  </h3>
  <p>Today we do not have the functionality for gifting. </p>

  <p><span
  >&nbsp;</span></p>

  <h3><span
  >9) What is EtherScan?</span></h3>

  <p><span
  >Etherscan is a block explorer and analytics platform
  that allows you to access details on Ethereum. You NFT contract is stored in
  Ethereum and it shows the authenticity of your unique NFT.</span></p>

  <p><span>&nbsp;</span></p>
  <h3>10) Can I download my NFT on my phone or computer?</h3>
  <p>Yes, you can download your NFT on your phone or computer. However, the images downloaded is not original. Though you can download the authenticity of owner that is stored in the block-chain.</p>
  <p><span>&nbsp;</span></p>

  <h3>11) Can I make an NFT my screen saver?</h3>
  <p>Yes, you can make NFT as your screen saver. First you need to download NFT image on to your local device and then you can make that your screen saver.
  </p>
  <p><span>&nbsp;</span></p>

</div>
<app-footer></app-footer>
