<div class="row collection">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6" style="height: 500px">
        <img [src]="item.url+'&s=700'" [alt]="item.title" width="100%" height="100%" style="margin-top: 5px;margin-bottom: 5px;">
    </div>
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6" style="height: 500px">
        <div  class="table-responsive trait">
            <table #scrollMe class="table table-bordered">
                <thead style="position: sticky;top: 0;z-index: 1;">
                    <tr>
                        <th class="alignCenter">Part</th>
                        <th class="alignCenter">Variant</th>
                        <th class="alignCenter">Occurence</th>
                        <th class="alignCenter">Raity %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let trait of traitItem">
                        <td>{{trait.part_title}}</td>
                        <td>{{trait.title}}</td>
                        <td class="alignRight">{{trait.rarity_count}}</td>
                        <td class="alignRight">{{trait.rarity_percent}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
