<div *ngIf="!loading">
    <h3 style="text-align: center;">{{heading}}</h3>
    <div class="row" style="margin: 0;">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div  *ngIf="collectionItem != null && collectionItem.title != null" class="form-group form-inline">
                <label for="collection">Collection</label><br>
                <input [(ngModel)]="collectionItem.title" type="text" class="form-control" id="collection"  style="width: 300px;" readonly><br>
            </div>
            <div class="form-group form-inline">
                <label for="file" class="required-field">Part Image</label><br>
                <input type="file" class="form-control" id="file" (change)="upload($event)" style="width: 300px;height: 40px;"  [disabled]="imgInput" required><br><br>
                <img [src]="imageUrl"  alt="EtherArt" width="200px" height="200px;">
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group form-inline">
                <label for="title" class="required-field">Part Title</label><br>
                <input [(ngModel)]="title" type="text" class="form-control" id="title" style="width: 300px;" required>
            </div>
            <div class="form-group form-inline">
                <label for="category">Category</label><br>
                <select  (change)="change($event.target.value)" [(ngModel)]="selectedCategoryId" class="form-control" id="category" style="width: 300px;">
                    <option *ngFor="let category of categoryList; let i = index" value="{{category.category_id}}" [selected]="category.category_id == selectedCategoryId" >{{category.category_name}}</option>
                </select>
            </div>
            <div class="form-group">
                <input [checked]="enableSearch" type="checkbox" class="pointer" id="enableSearch" (click)="showInSearch()">
                <label for="enableSearch"  class="col-form-label enable pointer">Enable Show in Search</label>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Metadata</label><br>
            <div style="height:65vh;position:relative; ">
                <div style="max-height:100%;overflow-y:auto; overflow-x: hidden">
                    <div *ngFor="let key of metadataList;let i = index" style="margin-left: 20px">
                        <div class="form-group form-inline">
                            <label for="color">{{key.meta_key}}</label><br>
                            <input [(ngModel)]="value[i]" type="text" class="form-control" id="color" style="width: 300px;">
                        </div>
                    </div>
                </div>
            </div>
            <div  class="form-group form-inline" >
                <button class="btn btn-ether btn-info addBtn" (click)="addPart()" [disabled]="add">Add</button>
                <button class="btn btn-ether btn-success updateBtn" (click)="updatePart()"  [disabled] = "update">Update</button>
                <button class="btn btn-ether btn-danger deleteBtn" (click)="deletePart()" [disabled] = "delete">Delete</button>
                <button class="btn btn-default btn-ether cancelBtn"  routerLink="/collection/">Cancel</button>
            </div>
        </div>
    </div>

</div>

<div *ngIf="loading" class="spin">
    <mat-spinner></mat-spinner>
</div>