<div [class]="mode">
  <h2><span >Terms of Refund</span></h2>
  <p style="font-size: 18px;"><span >Last updated July 24, 2022</span></p>
  <p ><span >&nbsp;</span></p>
  <h3 ><span >AGREEMENT TO TERMS OF REFUND</span></h3>
  <p ><span >These Terms of Use constitute a legally binding agreement made between you, whether personally or on behalf of an entity (&ldquo;you&rdquo;) and EtherArt Inc. and doing business as EtherArt (&quot;EtherArt&quot;, &ldquo;we&rdquo;, &ldquo;us&rdquo;, or &ldquo;our&rdquo;), concerning your access to and use of the&nbsp;</span><span ><a href="https://www.etherart.ai" target="_blank">https://www.etherart.ai</a></span><span ><span>&nbsp;site and Marketplace Offerings.&nbsp;</span></span><span >You agree that by accessing the Site and/or the Marketplace Offerings, you have read, understood, and agree to be bound by all of these terms.</span></p>
  <p ><span >&nbsp;</span></p>
  <p ><span >IF YOU DO NOT AGREE WITH ALL OF THESE TERMS OF USE, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE SITE AND/OR THE MARKETPLACE OFFERINGS AND YOU MUST DISCONTINUE USE IMMEDIATELY.</span></p>
  <p ><span>&nbsp;</span></p>
  <h3><span >TERMS</span></h3>
  <p ><span >THERE WILL BE STRICTLY NO REFUNDS OR SALES CANCELLATIONS FOR ANY COMPLETED PURCHASE, SALE OR TRADE ON THE SITE. ADDITIONALLY, THERE WILL STRICTLY BE NO REFUNDS OR SALE CANCELLATIONS FOR ANY SECONDARY PURCHASE, SECONDARY SALE, OR SECONDARY TRADE ON THE SITE.</span></p>
  <p ><span >You further understand and agree that your access and use of the EtherArt.ai is subject to certain risks including but not limited to the following:</span></p>
  <ol >
    <li><span >Price and liquidity of blockchain assets, including the NFTs, are extremely volatile and may be subject to fluctuations in price of INR, USD, stocks, cryptocurrencies, exchange rates and uncertainty of geopolitical market conditions.</span></li>
    <li><span >Legislative and regulatory changes or actions may adversely affect the use, transfer, and value of the NFTs.</span></li>
    <li><span >NFTs are not legal tender and are not backed by any government.</span></li>
    <li><span >Transactions involving NFTs may be irreversible, and losses due to fraudulent or accidental transactions may not be recoverable, including accidental transactions whereby you provide purchase or sell orders.</span></li>
    <li><span >The value of NFTs may be derived from the continued willingness of market participants to exchange fiat currency or digital assets for NFTs, and therefore the value of NFTs is subject to the potential for permanent or total loss of value should the market for NFTs disappear.</span></li>
    <li><span >Failure to access an NFT does not constitute for a refund.</span></li>
    <li><span >NFTs are subject to the risk of fraud, counterfeiting, cyber-attacks and other technological difficulties which may prevent access to or use of your NFTs.</span></li>
  </ol>
  <p ><span >You understand and agree that you are solely responsible for determining the nature, potential value, suitability and appropriateness of these risks for yourself.&nbsp;</span></p>
  <p ><span >EtherArt does not give any advice or recommendations regarding the NFTs. You understand and agree that you access and use the EtherArt Site and Marketplace Offerings at your own risk.&nbsp;</span></p>
  <p ><span >&nbsp;</span></p>
  <p ><span >You understand and agree that EtherArt will not be responsible for any communication failures, disruptions, errors, or distortions you may experience when using the&nbsp;</span><span ><a href="https://www.etherart.ai" target="_blank">https://www.etherart.ai</a></span></p>
  <p ><span >&nbsp;</span></p>
</div>

<app-footer></app-footer>
